<%- include('../../partials/head'); %>

	<body>
		<%- include('../../partials/header'); %>
			<main>
				<section class="auth-container">
					<h1>Login</h1>

					<form action="/signin" method="POST">
						<section>
							<label for="email">Email Address</label>
							<input type="email" name="email" id="email" required/>
						</section>

						<section>
							<label for="password">Password</label>
							<input type="password" name="password" id="password" required/>
						</section>

						<section>
							<input type="submit" value="Login">
						</section>
					</form>

					<p>Or login with <a href="/google">Google</a></p>

					<p>Don't have an account yet? <a href="/signup">Sign up</a></p>
				</section>
			</main>

		<%- include('../../partials/scripts'); %>
	</body>

	</html>