<%- include('../../partials/head'); %>
	<body>
		<%- include('../../partials/header'); %>
		<main>
			<div class="auth-container">
				<h1>Sign Up</h1>

				<form action="/signup" method="POST">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>

					<div class="form-group">
						<label for="email">Email Address</label>
						<input type="email" name="email" id="email" />
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" />
					</div>

					<div class="form-group">
						<label for="repeat_password">Repeat your password</label>
						<input type="password" name="repeat_password" id="repeat_password" />
					</div>
					<input type="submit" value="Create account">
				</form>
				<p>Already have an account? <a href="/signin">Sign In</a></p>
			</div>
		</main>
		<script src="../js/script.js"></script>
		</body>
</html>
