<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main class="delete">
                <p>To delete your account, please confirm with your password.</p>
                <form action="/account/delete" method="POST">
                    <section>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required/>
                    </section>

                    <section>
                        <label for="repeat_password">Repeat your password</label>
                        <input type="password" name="repeat_password" id="repeat_password" required/>
                    </section>
                    <input type="submit" value="Delete account">
                </form>
            </main>
    </body>

    </html>