<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main>
                <p>To set a new password, please confirm with your current password</p>
                <form action="/account/edit-password" method="POST">
                    <section>
                        <label for="password">Current password</label>
                        <input type="password" name="password" id="password" required/>
                    </section>
                    <section>
                        <label for="new_password">New password</label>
                        <input type="password" name="new_password" id="new_password" required/>
                    </section>

                    <section>
                        <label for="repeat_new_password">Repeat your new password</label>
                        <input type="password" name="repeat_new_password" id="repeat_new_password" required/>
                    </section>
                    <input type="submit" value="Change password">
                </form>
            </main>
    </body>

    </html>