<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main>
                My profile content here
            </main>
    </body>

    </html>