<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main>
                My name is <%= user.name %>
            </main>
    </body>

    </html>