@import "./variables";

label, form p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type=text], input[type=password], input[type=number], input[type=search], input[type=email], input[type=date], textarea, select {
    border:none;
    border-bottom: 1px solid black;
    padding: 4px 10px;
    outline: none;
}

.radio-group {
    display: flex;
    label {
        margin-top: 12px;
        font-weight: 400;
        font-size: 0.9em;
    }
}

input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    margin-top: 12px;
}

input[type=text], form>div>label {
    display: block;
}

input[type=number] {
    max-width: 100px;
}

input[type=submit], button, .button {
    padding: .6rem 4.7rem;
    font-weight: 600;
    border: none;
    color: $mainDark;
    background-color: $mainYellow;
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: inherit;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: .6rem 6.5rem;
    background-color: #af241d;
    color: white;
}

textarea {
    width: 100%;
}

form div {
    padding-bottom: 25px;
}

a.delete {
    background-color: lightpink;
}

