@import "./variables";

.matches {
    background-color: $mainDark;
    margin-bottom: -10px;
    min-height: 100vh;
    h2 {
        padding-top: 90px;
        margin-bottom: 20px;
        font-size: 1.8em;
        font-weight: 600;
        color: white;
    }
    p {
        color: white;
    }
}
