@import "./variables";

.matches {
    background-color: $mainDark;
    margin-bottom: -10px;
    min-height: 100vh;
    h2 {
        padding-top: 90px;
        margin-bottom: 20px;
        font-size: 1.8em;
        font-weight: 600;
        color: white;
    }
    p {
        color: white;
    }
}

.account-item {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: $mainDark;
    a {
        display: flex;
        text-decoration: none;
        padding: 10px;
        color: white;
    }
    span {
        font-size: 50px;
    }
    div:first-of-type {
        margin-right: 10px;
    }
    p {
        margin: 0;
        &:first-of-type {
            font-size: 1.2rem;
        }
        &:last-of-type {
            padding-top: 5px;
            font-weight: 300;
        }
    }
    .profile {
        position: absolute;
        margin-top: -5vh;
        right: 8vw;
        font-size: 0.8rem;
        color: white;
        text-decoration: none;
        border: 2px solid $mainYellow;
        padding: 3px;
        border-radius: 5px;
    }
}
