*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

main > *, section {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #171719;
  -webkit-box-shadow: 0px 15px 15px -15px black;
          box-shadow: 0px 15px 15px -15px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.05em;
  font-size: 2.3em;
  padding-bottom: 0.25em;
  color: #EDB530;
  text-transform: uppercase;
}

header a {
  color: white;
}

.auth-container h1 {
  font-size: 1.8em;
  padding-top: 100px;
  font-weight: 600;
  margin-bottom: -80px;
}

.home {
  background-color: #171719;
  margin-bottom: -10px;
  min-height: 100vh;
}

form {
  padding-top: 100px;
  margin-bottom: 30px;
}

form fieldset {
  border: none;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}

form input[type='submit'] {
  margin-bottom: -3px;
}

.account-item {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #171719;
}

.account-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.account-item span {
  font-size: 50px;
}

.account-item div:first-of-type {
  margin-right: 10px;
}

.account-item p {
  margin: 0;
}

.account-item p:first-of-type {
  font-size: 1.2rem;
}

.account-item p:last-of-type {
  font-weight: 300;
}

.account-item .viewProfile {
  position: absolute;
  margin-top: -10vh;
  right: 4vw;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  border: 2px solid #EDB530;
  padding: 3px;
  border-radius: 5px;
}

.matches {
  background-color: #171719;
  margin-bottom: -10px;
  min-height: 100vh;
}

.matches h2 {
  padding-top: 90px;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 600;
  color: white;
}

.matches p {
  color: white;
}

input[type=text], input[type=password], input[type=number], input[type=search], input[type=email], input[type=date], textarea, select {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 10px;
  outline: none;
}

input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  margin-top: 12px;
}

input[type=text], label {
  display: block;
}

input[type=number] {
  max-width: 100px;
}

input[type=submit], button, .button {
  padding: .6rem 4.7rem;
  font-weight: 600;
  border: none;
  color: #171719;
  background-color: #EDB530;
  margin: 20px 0;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: inherit;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.button {
  padding: .6rem 6.5rem;
  background-color: #af241d;
  color: white;
}

textarea {
  width: 100%;
}

form section {
  padding-bottom: 25px;
  margin-left: 0px;
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-group label {
  margin-top: 12px;
  font-weight: 400;
  font-size: 0.9em;
}

label, form p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.password p, .delete p {
  padding-top: 100px;
  margin-bottom: -75px;
}

.profilePage {
  background-color: #171719;
  color: white;
}

.profilePage section {
  padding-top: 100px;
}

.profilePage section img {
  width: 70vw;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profilePage section h1 {
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}

.profilePage section h2 {
  font-size: 1.1em;
  margin-top: -18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.profilePage section p {
  margin-top: 0px;
  width: 70vw;
}

.profilePage section img.movieposter {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */