*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header>*, main>*, section {
	margin-left: 20px;
	margin-right: 20px;
}

header {
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	align-items: center;
	box-shadow: 0 5px 5px gray;
}

header h1 {
	font-size: 1.5em;
	padding-bottom: 0.5em;
	margin: 0;
}

label, form p {
	margin-top: 0;
	margin-bottom: 5px;
	color: steelblue;
}

input[type=text], input[type=password], input[type=number], input[type=search], input[type=submit], input[type=email], input[type=date], textarea, button, .button, select {
	padding: .6rem 1rem;
	font-size: inherit;
	border-radius: 10px;
}

input[type=text], input[type=password], input[type=number], input[type=search], input[type=email], input[type=date], textarea, select {
	border: 2px solid lightgrey;
}

.radio-group {
	display: flex;
}

.radio-group label {
	line-height: 1.5rem;
	color: black;
}

input[type=radio] {
	width: 20px;
	height: 20px;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}

input[type=text], form>div>label {
	display: block;
}

input[type=number] {
	max-width: 100px;
}

input[type=submit], button, .button {
	font-weight: bold;
	border: none;
	color: white;
}

input[type=submit], .button {
	background-color: lightblue;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	display: inline-block;
}

textarea {
	width: 100%;
}

a.delete {
	background-color: lightpink;
}

section.account-item {
	background-color: lightskyblue;
	margin-bottom: 10px;
	border-radius: 10px;
}

section.account-item>a {
	display: flex;
	text-decoration: none;
	padding: 10px;
	color: black;
}

section.account-item span {
	font-size: 50px;
}

section.account-item div:first-of-type {
	margin-right: 10px;
}

section.account-item p {
	margin: 0;
}

section.account-item p:first-of-type {
	font-size: 1.2rem;
}

form>div {
	padding-bottom: 25px;
}

.inline {
	display: inline;
}

.red-text {
	color: red;
}