<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
            <main>
                This is <%= profile.name %>
                    <button class="like">Like</button>
            </main>
            <script src="/js/script.js"></script>
    </body>

    </html>